<div class="search-input">
    <input type="text" id="input_search" placeholder="Search&hellip;" name="q">
</div>

<div class="map-options">
    <ul>
        <li><a href="#">University</a></li>
        <li><a href="#">Amenities</a></li>
    </ul>
</div>

{{#if types}}
<ul class="results-list" id="categories">
{{#types}}
    <li>
    <h3>
    {{#if hasTypes}}
        {{! If this category has any sub-categories, place a link to them }}
        {{#if ../../category_name}}
            <a href="{{ reverse 'search'}}?type={{ type_prefixed }}">
        {{else}}
            <a href="{{ reverse 'categories' 'category_name' type_prefixed }}">
        {{/if}}
    {{else}}
        <a href="{{ reverse 'search'}}?type={{ type_prefixed }}">
    {{/if}}
    {{ type_name_plural }}
    {{#if description}}
        <p class="subtext">{{ description }}</p>
    {{/if}}
    </a></h3></li>
{{/types}}
</ul>
{{else}}
<img src="images/preloader.gif" class="preloader">
{{/if}}
