{{#if poi.midFetch }}
<img src="images/preloader.gif" class="preloader">
{{/if}}

{{#if poi.name }}
    <h2>{{ poi.name }}</h2>
{{ else }}
    <h2>{{ poi.type_name }}</h2>
{{/if}}

{{#if hasDepiction }}
    <div class="poi-details-depiction">
        <div class="depiction-wrapper">
            {{#if image }}
            <img src="{{ image.src }}">
            {{else}}
            <img class="placeholder" src="images/placeholder.png">
            {{/if}}
        </div>
    </div>
{{/if}}
<div class="poi-details-text {{#unless hasDepiction}}no-depiction{{/unless}}">
    <div class="free-text">
        {{#if accessibilityGuideContents }}
            <p class="description">
                {{ accessibilityGuideContents }}
            </p>
        {{/if}}
        {{#if poi.opening_hours }}
            {{{currentlyOpen currentlyOpen}}}
        {{/if}}
        {{#if poi.collection_times }}
            <p class="type">{{{collectionTimes poi.collection_times}}}</p>
        {{/if}}

        <p class="metadata">
            {{#if poi.address }}{{ poi.address }}{{/if}}
        </p>
    </div>
    {{#if poi.RTI}}
        <div class="rti">
        {{#if multiRTI}}
        <h3>{{ currentRTI.title }}
            {{#if alternateRTI}}
            ({{#alternateRTI}}<a href="{{ reverse 'detail' 'id' poi.id }}?rti={{type}}">{{ title }}</a>{{/alternateRTI}})
            {{/if}}
        </h3>
        {{/if}}
            <div id="poi-rti">
                <img src="images/preloader.gif" class="preloader" width="15" height="15">
            </div>
        </div>
    {{/if}}

    <div class="free-text">
        <p class="metadata">
            {{#if poi.opening_hours }}{{{formatOpeningHours poi.opening_hours parsedOpeningHours }}}<br />
            {{/if}}
            {{#if poi.collection_times}}
            <p>Collection times: {{ poi.collection_times }}</p>
            {{/if}}
        </p>

        <div class="external-links">
            {{#if poi.phone}}
            <li><a href="tel:{{ poi.phone }}" class="action-button poi-phone">Tel: {{ poi.phone }}</a></li>
            {{/if}}
            {{#if poi.website}}
            <span><a href="{{ poi.website }}" target="_blank" class="action-button poi-website">Website <i class="fa fa-external-link"></i></a></span>
            {{/if}}
            {{#if accessibilityGuideURL }}
            <span><a href="{{ accessibilityGuideURL }}" target="_blank" class="action-button poi-access-guide">Accessibility Guide <i class="fa fa-wheelchair"></i></a></span>
            {{/if}}
        </div>

        {{#if socialLinks }}
        <div class="social-links">
            {{#if poi.social_twitter}}
            <a target="_blank" href="{{ poi.social_twitter }}"><i class="fa fa-twitter-square"></i></a>
            {{/if}}
            {{#if poi.social_facebook}}
            <a target="_blank" href="{{ poi.social_facebook }}"><i class="fa fa-facebook-square"></i></a>
            {{/if}}
        </div>
        {{/if}}

        {{#if poi.library_opening_hours_termtime }}
            <h3>Opening hours</h3>
            <p class="metadata"><strong>Term time</strong>: {{ poi.library_opening_hours_termtime }}</p>
            {{#if poi.library_opening_hours_vacation }}
                <p class="metadata"><strong>Vacation</strong>: {{ poi.library_opening_hours_vacation }}</p>
            {{/if}}

            {{#if poi.library_opening_hours_closed }}
                <p class="metadata"><strong>Closed</strong>: {{ poi.library_opening_hours_closed }}</p>
            {{/if}}
        {{/if}}

        {{#if poi.library_policy_academic }}
            <h3>Admission policies</h3>
            <p class="metadata"><strong>Academic</strong>: {{ poi.library_policy_academic }}</p>
            {{#if poi.library_policy_undergraduate }}
                <p class="metadata"><strong>Undergraduate</strong>: {{ poi.library_policy_undergraduate }}</p>
            {{/if}}
            {{#if poi.library_policy_postgraduate }}
                <p class="metadata"><strong>Postgraduate</strong>: {{ poi.library_policy_postgraduate }}</p>
            {{/if}}
            {{#if poi.library_policy_other }}
                <p class="metadata"><strong>Other</strong>: {{ poi.library_policy_other }}</p>
            {{/if}}
        {{/if}}

        {{#if poi.library_subject }}
            <h3>Subjects</h3>
            <ul>
            {{#poi.library_subject}}
            <li>{{this}}</li>
            {{/poi.library_subject}}
            </ul>
        {{/if}}

        {{! Links to parents and children }}
        <dl class="poi-children">
        {{#if occupiedBy}}
            <dt>Occupied by</dt>
            {{#occupiedBy}}
            {{#if href}}
            <dd><a href="#{{ href }}" title="{{ title }}">{{ title }}</a></dd>
            {{else}}
            <dd>{{#if number}}<div class="detail-numbered-marker"><div><span>{{ number }}</span></div></div>{{/if}}<a href="{{ reverse 'detail' 'id' id }}" title="{{ name }}">{{ name }}</a></dd>
            {{/if}}
            {{/occupiedBy}}
        {{/if}}
        {{#if partOf}}
            <dt>Part of</dt>
            {{#partOf}}
            {{#if href}}
            <dd><a href="#{{ href }}" title="{{ title }}">{{ title }}</a></dd>
            {{else}}
            <dd>{{#if number}}<div class="detail-numbered-marker"><div><span>{{ number }}</span></div></div>{{/if}}<a href="{{ reverse 'detail' 'id' id }}" title="{{ name }}">{{ name }}</a></dd>
            {{/if}}
            {{/partOf}}
        {{/if}}
        {{#if occupies}}
            <dt>Occupies</dt>
            {{#occupies}}
            {{#if href}}
            <dd><a href="#{{ href }}" title="{{ title }}">{{ title }}</a></dd>
            {{else}}
            <dd>{{#if number}}<div class="detail-numbered-marker"><div><span>{{ number }}</span></div></div>{{/if}}<a href="{{ reverse 'detail' 'id' id }}" title="{{ name }}">{{ name }}</a></dd>
            {{/if}}
            {{/occupies}}
        {{/if}}
        {{#if libraries}}
            <dt>Libraries</dt>
            {{#libraries}}
            {{#if href}}
            <dd><a href="#{{ href }}" title="{{ title }}">{{ title }}</a></dd>
            {{else}}
            <dd>{{#if number}}<div class="detail-numbered-marker"><div><span>{{ number }}</span></div></div>{{/if}}<a href="{{ reverse 'detail' 'id' id }}" title="{{ name }}">{{ name }}</a></dd>
            {{/if}}
            {{/libraries}}
        {{/if}}
        {{#if contains}}
            <dt>Contains</dt>
            {{#contains}}
            {{#if href}}
            <dd><a href="#{{ href }}" title="{{ title }}">{{ title }}</a></dd>
            {{else}}
            <dd>{{#if number}}<div class="detail-numbered-marker"><div><span>{{ number }}</span></div></div>{{/if}}<a href="{{ reverse 'detail' 'id' id }}" title="{{ name }}">{{ name }}</a></dd>
            {{/if}}
            {{/contains}}
        {{/if}}
        {{#if organisations}}
            <dt>Sub organisations</dt>
            {{#organisations}}
            {{#if href}}
            <dd><a href="#{{ href }}" title="{{ title }}">{{ title }}</a></dd>
            {{else}}
            <dd>{{#if number}}<div class="detail-numbered-marker"><div><span>{{ number }}</span></div></div>{{/if}}<a href="{{ reverse 'detail' 'id' id }}" title="{{ name }}">{{ name }}</a></dd>
            {{/if}}
            {{/organisations}}
        {{/if}}
        </dl>
        {{#if showZoomButton}}
        <a href="#" class="zoom-all"><i class="fa fa-arrows-alt"></i> Show all markers</a>
        {{/if}}
    </div>
</div>
