<div class="search-input">
    <input type="text" placeholder="Search&hellip;" name="q" value="{{query.q}}">
</div>
<div class="map-options">
    <ul>
        <li>{{#unless sortAZ}}<a class="sort-az" href="#">A-Z</a>{{else}}A-Z{{/unless}}</li>
        <li>{{#unless sortNearby}}<a class="sort-nearby" href="#">Nearby</a>{{else}}Nearby{{/unless}}</li>
    </ul>
</div>
<div class="messages">
</div>
<ul class="facet-list">
    {{#facets}}
    <li class="label-facet" data-category="{{ name }}">{{ title }}</li>
    {{/facets}}
</ul>
<ul class="results-list">
</ul>
{{#if midRequest}}
<img src="images/preloader.gif" class="preloader">
{{else}}
{{#unless hasResults}}
<p>Your search - <strong>{{ query.q }}</strong> - did not match any places of interest.</p>
{{/unless}}
{{/if}}
